<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ANTFARM :: Database Management</title>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  </head>
  <body>
    <center><h1>ANTFARM Database Management</h1></center>
    <%= yield  %>
    <center>
      <div id='management-nav'>
        <%= link_to 'Nodes', '/nodes' %> | 
        <%= link_to 'Layer 2 Interfaces', '/layer2_interfaces' %> | 
        <%= link_to 'Ethernet Interfaces', '/ethernet_interfaces' %> | 
        <%= link_to 'Layer 3 Interfaces', '/layer3_interfaces' %> | 
        <%= link_to 'IP Interfaces', '/ip_interfaces' %>
        <br />
        <%= link_to 'Layer 3 Networks', '/layer3_networks' %> | 
        <%= link_to 'IP Networks', '/ip_networks' %> | 
        <%= link_to 'Private Networks', '/private_networks' %> | 
        <%= link_to 'Traffic', '/traffic' %>
        <br />
        <%= link_to 'DNS Entries', '/dns_entries' %> | 
        <%= link_to 'Actions', '/actions' %> | 
        <%= link_to 'Services', '/services' %> | 
        <%= link_to 'Operating Systems', '/operating_systems' %>
      </div>
    </center>
  </body>
</html>
